{{!-- Nav Bar --}}
<style>
    body {
        background: url(./assets/imgs/details2.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>

<div class="container full-width-container">
    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/addguest">Add Guest</a>
        <a href="/dashboard">Summary</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="topnav-right">
            <a href="/logout">Logout</a>
            <a>Welcome, {{ guests.[0].userEmail }}</a>
        </div>
    </div>
</div>

<div id="page-container">
    <div id="content-wrap">
        <h1 class="dhsummary">Guest Details</h1>
        <div class="container box overflow-x">
            {{!-- this row holds the table that holds the information --}}
            <div class="row">
                <div class="twelve columns">
                    <table class="u-full-width">
                        <thead>
                            <tr>
                                {{!-- Column Names --}}
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Street Address</th>
                                <th>City</th>
                                <th>Zip Code</th>
                                <th>State</th>
                                <th>Food Restrictions</th>
                                <th>Additional Guests</th>
                                <th>Email</th>
                                <th>Invitation Sent</th>
                                <th>RSVP Received</th>
                                <th>Additional Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each guests }}
                            <tr>
                                <td>{{ first_name }}</td>
                                <td>{{ last_name }}</td>
                                <td>{{ phone_number }}</td>
                                <td>{{ street_address }}</td>
                                <td>{{ city_address }}</td>
                                <td>{{ state_address }}</td>
                                <td>{{ zip_code }}</td>
                                <td>{{ food_restrictions }}</td>
                                <td>{{ additional_guests }}</td>
                                <td>{{ email }}</td>
                                <td>{{ invited }}</td>
                                <td>{{ rsvp }}</td>
                                <td>{{ comment }}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <h6>
            &#169; 2020 Cloud 9 is <a href="https://github.com/abbynf">Abby Jo</a>, <a
                href="https://github.com/jburz">Jake</a>, <a href="https://github.com/Feizhi255">Jordan</a>, <a
                href="https://github.com/Teknix420">Travis (not CI)</a>
        </h6>
    </footer>
</div>